<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>

		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="Enterprise">
			<section name="efcache" type="Enterprise.Cache.Redis.Configuration.CacheSection, Enterprise.Cache.Redis" />
		</sectionGroup>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<connectionStrings>
		<!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-xCloud.SSO-20160407115432.mdf;Initial Catalog=aspnet-xCloud.SSO-20160407115432;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
		<!--内网-->
    <add name="xCloudSysDB" providerName="System.Data.SqlClient" connectionString="Data Source=flow.nlis.local;Initial Catalog=xCloudSysDb;Integrated Security=True;User ID=sa;Password=123qwe!@#;Persist Security Info=True;Integrated Security=False;MultipleActiveResultSets=true;" />
    <add name="xCloudDB" providerName="System.Data.SqlClient" connectionString="Data Source=flow.nlis.local;Initial Catalog=xCloudDb;Integrated Security=True;User ID=sa;Password=123qwe!@#;Persist Security Info=True;Integrated Security=False;MultipleActiveResultSets=true;" />
    <add name="NNWebDBContext_CKEntities" connectionString="metadata=res://*/NMAContext.csdl|res://*/NMAContext.ssdl|res://*/NMAContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=flow.nlis.local;initial catalog=NNWebDBContext;user id=sa;password=123qwe!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="xCloudMongoData" connectionString="mongodb://localhost/xCloud_FlowData" />
    <!--外网-->
		<!--<add name="xCloudSysDB" providerName="System.Data.SqlClient" connectionString="Data Source=219.159.71.213,54321;Initial Catalog=xCloudSysDb;Integrated Security=True;User ID=sa;Password=server3950;Persist Security Info=True;Integrated Security=False;MultipleActiveResultSets=true;" />
		<add name="xCloudDB" providerName="System.Data.SqlClient" connectionString="Data Source=219.159.71.213,54321;Initial Catalog=xCloudDb;Integrated Security=True;User ID=sa;Password=server3950;Persist Security Info=True;Integrated Security=False;MultipleActiveResultSets=true;" />
		<add name="NNWebDBContext_CKEntities" connectionString="metadata=res://*/NMAContext.csdl|res://*/NMAContext.ssdl|res://*/NMAContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=219.159.71.213,54321;initial catalog=NNWebDBContext_CK;user id=sa;password=server3950;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="xCloudMongoData" connectionString="mongodb://localhost/xCloud_FlowData" />-->
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="CdnHost" value="http://localhost:3587" />
		<!--<add key="CdnPath" value="D:\\xCloud\\Client\\xCloud.Cdn" />-->
		<add key="CdnPath" value="E:\\Workspace\\DoNet\\xCloud\\Client\\xCloud.Cdn" />
		<!--内网-->
		<add key="IdentityMongoDBServer" value="mongodb://localhost/EnterpriseOrgDB" />
    <add key="ResourceMongoDBServer" value="mongodb://localhost/EnterpriseResourceDB2" />
		<!--外网-->
		<!--<add key="IdentityMongoDBServer" value="mongodb://localhost/EnterpriseOrgDB" />
		<add key="ResourceMongoDBServer" value="mongodb://localhost/EnterpriseResourceDB" />-->
		<!--<add key="TokenExpireDayspan" value=""/>
    <add key="RefreshTokenExpireDayspan" value=""/>
    <add key="AuthCodeExpireDaySpan" value=""/>-->

		<!--征地系统Api-->
		<add key="Expropriate" value="http://zland.nlis.local:8888" />
	</appSettings>
	<!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
	<system.web>
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.6" />
		<httpRuntime targetFramework="4.5.2" />
		<machineKey decryptionKey="B7EFF1C5839A624E3F97D0268917EDE82F408D2ECBFAC817" validation="SHA1" validationKey="C2B8DF31AB9624D69428066DFDA1A479542825F3B48865C4E47AF6A026F22D853DEC2B3248DF268599BF89EF78B9E86CA05AC73577E0D5A14C45E0267588850B" />
		<httpModules>
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
		</httpModules>
		<!--<sessionState customProvider="MemcachedSessionProvider" mode="Custom" timeout="2880">
      <providers>
        <add name="MemcachedSessionProvider" type="MemcachedSessionProvider.SessionProvider, MemcachedSessionProvider" />
      </providers>
    </sessionState>-->
	</system.web>
	<system.webServer>
		<modules>
			<remove name="FormsAuthentication" />
			<remove name="TelemetryCorrelationHttpModule" />
			<add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
			<remove name="ApplicationInsightsWebTracking" />
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
		</modules>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Enyim.Caching" publicKeyToken="cec98615db04012e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.13.0.0" newVersion="2.13.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EFCache" publicKeyToken="46c4868af4307d2c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
			</dependentAssembly>
		</assemblyBinding>
		<!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
		     to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		 -->
	</runtime>


	<Enterprise>
		<efcache>
			<!--正式的-->
			<!--<cache enableCache="true" db="5" redisServers="172.16.3.101:6379,syncTimeout=5000" slidingTimeSpan="00:20:00" absoluteTimeSpan="00:00:00" />-->

			<!--外网-->
			<cache enableCache="true" db="0" redisServers="10.0.16.49,syncTimeout=5000" slidingTimeSpan="00:20:00" absoluteTimeSpan="00:00:00" />
		</efcache>
	</Enterprise>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>